@using BusBoard.ConsoleApp
@model BusBoard.Web.ViewModels.BusInfo
@{
  ViewBag.Title = "Bus Information";
}

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    <table style="width:100%">
        <tr>
            <th>Line</th>
            <th>Destination</th>
            <th>Arrival Time</th>
        @foreach (BusInfo b in @Model.bigBusList)
        {
            <tr>
                <th>@b.lineId</th>
                <th>@b.destinationName</th>
                <th>@b.expected.ToString("HH:mm")</th>
            </tr>
        }
    </table>
</div>
