@using BusBoard.ConsoleApp
@using BusBoard.Web.Controllers
@model BusBoard.Web.ViewModels.TubeView
@{
    ViewBag.Title = "Bus Information";
}

<head>
    <meta http-equiv="refresh" content="30"/>
</head>

<h2>BusInfo</h2>

<div class="row">
    <p>You entered postcode @Model.PostCode</p>
    @if (Model.bigTubeList.Count != 0)
    {
        <table style="width: 100%">
            <tr>
            <th>Line</th>
            <th>Destination</th>
            <th>Platform</th>
            <th>Arriving At</th>
            <th>Distance (m)</th>
            <th>Arrival Time</th>
            @foreach (TubeInfo b in @Model.bigTubeList)
            {   
                <tr>
                    <td>@b.lineName.ToUpper()</td>
                    <td>@b.towards</td>
                    <td>@b.platformName</td>
                    <td>@b.stationName</td>
                    <td>@Math.Round(b.stopDistance, 0)</td>
                    <td>@b.expected.ToString("HH:mm")</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>There are no avaliable buses for this postcode.</p>
        <input type="button" value="Home" onclick="location.href = '@Url.Action("Index", "Home")'" />
    }
</div>